#site_header{
    width: 100%;
    padding: 50px 0 10px;
    display: flex;

    #header_left{
        vertical-align: bottom;
    }
    #header_right{
        vertical-align: bottom;
        
    }
    clear: both;
}