<header>
<div id="site_header">
    <div class="container">        
            <div id="header_left">
               ,<img src="assets/sitelogo.jpg" alt="">
            </div>

            <div id="user_actions">
                <a href="#">My Account</a>
                | <a href="#">Wishlist</a>
                | <a href="#">Cart</a>
                | <a href="#">Checkout</a>
                | <a href="#">Log In</a>
                | <a [routerLink]="'/auth/signup'">Register</a>
            </div>
        
       <!--  <div class="row">
            <div id="header_right">
                <p>Welcome, Guest</p>
            </div>
        </div> -->

    </div>
    <div class="cleaner"></div>
</div>
</header>