@model IEnumerable<Walkabouts.Services.DTO.CatalogItemDTO>

@{
    ViewData["Title"] = "Catalog";
}

<h1>Catalog</h1>

<p>
    <a asp-action="Create">Create New</a>
</p>

<div class="col-md-12 products">
    <div class="row">
        @foreach (var item in Model)
        {
            <partial name="CatalogGridItem" model="item" />
        }
    </div>
</div>

