<h1>Add User Account</h1>
<div class="logo-top">
    <img src="assets/sitelogo.jpg" alt="">
</div>
<div class="main-agileinfo">

    <div class="agileits-top">
        <form action="#" method="post">
            <div class="form-group">
                <input class="text" type="text" name="firstName" placeholder="First Name" required="">
            </div>
            <div class="form-group">
                <input class="text" type="text" name="lastName" placeholder="Last Name" required="">
            </div>
            <div class="form-group">
            <input class="text email" type="email" name="email" placeholder="Email" required="">
            </div>

          <!--   <div class="form-group">
                <input class="text" type="tel" name="phoneNumber" placeholder="Phone Number" required="">
            </div> -->

            <div class="form-group">
            <input class="text" type="password" name="password" placeholder="Password" required="">
            </div>
            <div class="form-group">
            <input class="text w3lpass" type="password" name="password" placeholder="Confirm Password" required="">
            </div>
            <div class="wthree-text">
                <label class="anim">
                    <input type="checkbox" class="checkbox" required="">
                    <span>I Agree To The Terms & Conditions</span>
                </label>
                <div class="clear"> </div>
            </div>
            <input type="submit" value="SIGNUP">
        </form>

        <p>Don't have an Account? <a href="#"> Login Now!</a></p>

    </div>
</div>