@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1 class="display-4">Welcome</h1>
    <p>Walkabouts is a marketplace for location specific vendors with goods and services on sale.</p>
</div>
