/* You can add global styles to this file, and also import other style files */
body{
    margin: 0;
}

@font-face {
    font-family: 'lato-light';
    src: url(assets/fonts/Lato/Lato-Light.ttf) format("truetype");
}
@font-face {
    font-family: 'lato-regular';
    src: url(assets/fonts/Lato/Lato-Regular.ttf) format("truetype");
}
@font-face {
    font-family: 'lato-bold';
    src: url(assets/fonts/Lato/Lato-Bold.ttf) format("truetype");
}
@font-face {
    font-family: 'opensans-light';
    src: url(assets/fonts/Open_Sans/OpenSans-Light.ttf) format("truetype");
}
@font-face {
    font-family: 'opensans-bold';
    src: url(assets/fonts/Open_Sans/OpenSans-Bold.ttf) format("truetype");
}
@font-face {
    font-family: 'nunito-regular';
    src: url(assets/fonts/Nunito/Nunito-Regular.ttf) format("truetype");
}